

/* Start:/local/templates/shop/components/bitrix/breadcrumb/Navigation_categories/style.min.css?1596266836467*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px;white-space:normal}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/local/templates/shop/components/bitrix/menu/Categories_left/style.css?159622102242*/
.top_n{
	border-top: 2px solid #E4E7ED;
}

/* End */


/* Start:/local/templates/shop/components/bitrix/news/Catalog/bitrix/news.list/.default/style.css?1596314319150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/shop/components/bitrix/breadcrumb/Navigation_categories/style.min.css?1596266836467 */
/* /local/templates/shop/components/bitrix/menu/Categories_left/style.css?159622102242 */
/* /local/templates/shop/components/bitrix/news/Catalog/bitrix/news.list/.default/style.css?1596314319150 */
