/* 
    Create: 16.09.2016, 17:51:30
    Update: 08.01.2019, 19:00:00
    Author: Kiora.ru
*/


/*****************/
/* BUTTON STYLES */
/*****************/

.ki-yandex-kassa.form-api .button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 150px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0.8rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    appearance: none;
    line-height: 1.3;
    font-weight: 500;
    text-transform: capitalize;
    color: #4a4a4a;
    background-color: #f2f2f2;
    border: 0 none;
    border-radius: 3px;
}

.ki-yandex-kassa.form-api .button:hover {
    transition: all 60ms ease;
    opacity: .85;
}

.ki-yandex-kassa.form-api .button:active {
    text-decoration: none;
    transition: all 60ms ease;
    transform: scale(0.97);
    opacity: .75;
}

.ki-yandex-kassa.form-api .button:visited {
    text-decoration: none;
}

.payment-wrap .button.good, .ki-yaka-form-api .button.good {
    color: #FFFFF3;
    background: #47b8e0;
}

.ki-yandex-kassa.form-api.payment-wrap{
    position: relative;
}

.ki-yandex-kassa.form-api .modal-content .button.good,
.ki-yandex-kassa.form-api #modal-button.button.good{
    margin: auto;
}

.ki-yandex-kassa.form-api .button.button-bordered {
    color: #FFFFF3;
    border: 2px solid #FFFFF3;
    background: transparent;
}
.ki-yandex-kassa.form-api .button.button-bordered:hover, .ki-yandex-kassa.form-api .button.button-bordered:active {
    color: #ff7473;
    border-color: #FFFFF3;
    background: #FFFFF3;

}
.ki-yandex-kassa.form-api form{
    padding: 10px;
    /*    position: relative;*/
}

.ki-yandex-kassa.form-api form .form-overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 10;
    background-color: #fff;
    transition: opacity .3s linear;
    overflow: hidden;
}

.ki-yandex-kassa.form-api form.pending .form-overlay{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

/*************/
/*   MODAL   */
/*************/
/* The Modal (background) */

.ki-yandex-kassa.form-api .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(224, 224, 224, 0.5);
    /* Black w/ opacity */
    transition: all 0.5s ease 0.06s;
}


/* Modal Content/Box */

.ki-yandex-kassa.form-api .modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 1.2rem;
    width: 50%;
    max-width: 900px;
    min-width: 300px;
    /* Could be more or less, depending on screen size */
    visibility: hidden;
    box-shadow: 2px 2px 10px 0px rgba(99, 106, 119, 0.6);
    border-radius: 5px;
}

/* The Close Button */
.ki-yandex-kassa.form-api .modal-content .closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.ki-yandex-kassa.form-api .form-row.amount {
    font-weight: bold;
}

.ki-yandex-kassa.form-api .close {
    color: #989898;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 1;
}

.ki-yandex-kassa.form-api .close:hover,
.ki-yandex-kassa.form-api .close:focus {
    color: hsl(0, 100%, 70%);
    text-decoration: none;
    cursor: pointer;
}

.ki-yandex-kassa.form-api .close:active,
.ki-yandex-kassa.form-api .close:before:active {
    transition: all 60ms ease;
    transform: scale(0.97);
}


/***********************/
/*  modal form layout  */
/***********************/

.ki-yandex-kassa.form-api .ki-yaka-form-api input {
    height: 26px;
}

.ki-yandex-kassa.form-api .modal-content {
    display: flex;
    flex-direction: column;
}

.ki-yandex-kassa.form-api .modal-header {
    align-items: center;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
}

.ki-yandex-kassa.form-api .modal-header h3 {
    margin-top: 5px;
    font-size: 80%;
    margin-bottom: 10px;
}
.ki-yandex-kassa.form-api .modal-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px;
    margin: 1rem 0px 0px;
    border-top-width: 0px;
}

.ki-yandex-kassa.form-api .modal-footer > input {
    margin: 0px;
}

.ki-yandex-kassa.form-api .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ki-yandex-kassa.form-api .check-wrap {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-style: dashed;
    border-width: 1px 0px;
    font-style: italic;
    margin: 10px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ki-yandex-kassa.form-api .form-row {
    display: flex;
    width: 99%;
    align-items: center;
    padding: 0.4rem 0.4rem;
}

.ki-yandex-kassa.form-api .form-row.check-head {
    font-weight: bold;
}

.ki-yandex-kassa.form-api .form-row.form_name{
    font-size: 1.5em;
}

.ki-yandex-kassa.form-api .form-row:nth-child(odd) {
    background: #f9f9f9;
}

.ki-yandex-kassa.form-api .form-row.check-row .value{
    text-align: right;
}

.ki-yandex-kassa.form-api .form-row label {
    flex-shrink: 0;
    flex-basis: 50%;
    text-align: left;
}

.ki-yandex-kassa.form-api .form-row .value {
    width: 100%;
    flex-basis: 50%;
}

.ki-yandex-kassa.form-api .form-row input,
.ki-yandex-kassa.form-api .form-row select {
    flex-shrink: 1;
    flex-basis: 50%;
    border: 1px solid hsl(0, 0%, 90%);
    padding: 0.2rem 0.2rem;
    max-width: 50%;
}

.ki-yandex-kassa.form-api .form-row .value input,
.ki-yandex-kassa.form-api .form-row .value select {
    max-width: 100%;
    width: 100%;
}

.ki-yandex-kassa.form-api .form-row input.error {
    background-color: #fff2f2;
    box-shadow: 0px 0px 7px 0px rgba(255, 125, 125, 0.84) inset;
}

.ki-yandex-kassa.form-api .slideDown {
    animation-name: slideDown;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    visibility: visible !important;
}

.ki-yandex-kassa.form-api .isRequiredField {
    color: red;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(4%);
    }
    65%{
        transform: translateY(-2%);
    }
    80%{
        transform: translateY(2%);
    }
    95%{
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(0%);
    }
}

.load-data-progress {
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 3px solid #e4e8eb;
    border-color: #6c7c8c #6c7c8c #6c7c8c #e4e8eb;
    overflow: hidden;
    font-size: 0;
    border-radius: 50%;
    margin: 0px auto;

    animation-name: rotate-progress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.load-data-progress.isShow {
    visibility: visible;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}


@keyframes rotate-progress {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

